<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style> 
	.slider {
			height: 500px;
			width: 250px;
			overflow: scroll;
		}
	</style>
</head>
<body ng-app="myApp" ng-controller="AppCtrl">
{{myUrl}}

<div slider="func.test()" class="slider">
	<div class="block">
		<h3>This 1</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 2</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 3</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 4</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 5</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 6</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 7</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 8</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 9</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 10</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 11</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 12</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 13</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 14</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 15</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 16</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 17</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 18</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 19</h3>
		<h4>Sub Head</h4>
	</div>

	<div class="block">
		<h3>This 20</h3>
		<h4>Sub Head</h4>
	</div>

</div>




<script type="text/javascript" src="bower_components/angular/angular.js"></script>

<script>
	angular.module('slidePage', [])
		.directive('slider',  
			function($timeout) {
				return {
					restrict: 'A',
					scope: true,
					link: function(scope, element, attrs) {
						var slide =  element[0];
						var lastValue = 0;
						var currentValue = 0;

						var section = {
							topCrticalSection : Math.round(0.05 * (slide.offsetHeight + slide.clientHeight)),				

							topMiddleCrticalSection : Math.round(0.05 * (slide.offsetHeight + slide.clientHeight)+1),
							bottomMiddleCrticalSection : Math.round((slide.offsetHeight + slide.clientHeight) - (0.05 * (slide.offsetHeight + slide.clientHeight))-1),

							bottomCrticalSection : Math.round((slide.offsetHeight + slide.clientHeight) - (0.05 * (slide.offsetHeight + slide.clientHeight))),

							fullSection: Math.round((slide.offsetHeight + slide.clientHeight))
						};

						slide.addEventListener("scroll", function(event) {

							console.log(section);
							
							if(slide.scrollTop > lastValue) {
								// scope.func.test();
								// console.log("Down");
								// console.log(slide);
								//scope.$apply(attrs.slider);
								// console.log("Offset : "+slide.offsetHeight);
								// console.log("Client : "+slide.clientHeight);
								// console.log("Scroll : "+slide.scrollHeight);
								// console.log("Scroll Top : "+slide.scrollTop);

								if( (slide.scrollHeight - slide.scrollTop) == slide.clientHeight ) {
									console.log("reached bottom");
								}



							} else {

								console.log("Offset : "+slide.offsetHeight);
								console.log("Client : "+slide.clientHeight);
								console.log("Scroll : "+slide.scrollHeight);
								console.log("Scroll Top : "+slide.scrollTop);
								// console.log("Up");
								
								if( (slide.scrollHeight - slide.scrollTop) == slide.scrollHeight ) {
									console.log("reached top");
								}
							}
							lastValue = slide.scrollTop
							currentValue = lastValue;
						});				
					}
				}
			});

	//angular.module('myApp', ['slidePage']);

	angular.module('myApp', ['slidePage'])
		.controller('AppCtrl', function($scope) {
			
			$scope.myUrl = "Abin";

			$scope.func = {};

			$scope.func.test = function() {
				console.log("This is a simple one");
			}

	});
	
</script>
</body>
</html>